export TTMLIR_TOOLCHAIN_DIR=/localdev/ndrakulic/toolchains/mlir/ttmlir-toolchain
export TTMLIR_VENV_DIR=/localdev/ndrakulic/toolchains/mlir/ttmlir-toolchain/venv
export TTFORGE_TOOLCHAIN_DIR=/localdev/ndrakulic/toolchains/ffe/ttforge-toolchain
export TTFORGE_VENV_DIR=/localdev/ndrakulic/toolchains/ffe/ttforge-toolchain/venv
